<%= form_with model: @category do |form| %>
  <% @category.errors.full_messages_for(:name).each do |message| %>
    <span> <%= message %></span>
  <% end %>
  <br> <br>
  <% @category.errors.full_messages_for(:description).each do |message| %>
    <span> <%= message %></span>
  <% end %>
  <br><br>
  <% @category.errors.full_messages_for(:cover).each do |message| %>
    <span> <%= message %></span><br/>
  <% end %>
  <div>
    <%= form.label :name %> <br/>
    <%= form.text_field :name %>
  </div>
  <br/><br/>

  <div>
    <%= form.label :description %> <br/>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :photo %> <br/>
    <%= form.file_field :photo, accept: "image/png, image/jpeg" %>
  </div>
  <br/>

  <br/><br/>
  <%= form.submit %>
<% end %>