<h1>Categories</h1>
<% @categories.each do |category| %>

  <div><%= link_to category_path(category)  do%>
      <div><%= image_tag category.photo if category.photo.attached?%>
 
    <span><%= category.name %> </span>
    <br>
    <%= category.photo_count %> photos
    
    <br>
    <span><%= category.description%></span>
    <% end %></div>
    
    
  </div>
  <br>
<% end %>