
<body>
<header class="header">
<nav class="navbar">
<a href="<%= categories_path %>">
  <img alt="Somesplash_logo" src="https://i.ibb.co/h22BWZQ/image-11.png">
</a>
<button class="button" style="margin-right: 2rem">SEARCH</button>
<nav>
</header>
<main class="section-md">
  <section class="container-lg py-3">
<h1>Categories</h1>
<br>
<%= link_to "New Category", new_category_path %>
<br>
<br>
<div class="briefcase-summary__content">
<% @categories.each do |category| %>

  <div class="briefcase-card"><%= link_to category_path(category), class:"text-decoration-none" do%>
    <div><%= image_tag category.photo if category.photo.attached?%>
    <span class="head-sm regular"><%= category.name %> </span>
    <p class="text-sm regular"><%= category.photo_count %> photos</p>
    <span class="text regular"><%= category.description%></span>
    <% end %></div>
    <div class="briefcase-card__icon-container">
     <a class="briefcase-card__icon text-decoration-none text-white" href="/categories/new"><i class="ri-pencil-line"></i></a>
     <a class="briefcase-card__icon text-decoration-none text-white" data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="/categories/3"><i class="ri-delete-bin-line"></i></a>
    </div>
  </div>
  
<% end %>
  </div>
  </section>
</main>
</body>