<h1><%= @category.name%></h1>

<% @images.each do |image| %>

  <div><%= link_to image_path(image)  do%>
    <div><%= image_tag image.photo if image.photo.attached?%></div>
    <br>
    <span><%= image.title %> </span>
    <br>
    <span><%= image.description%></span>
    <br>
    <%= image.comments_count %> Comments
    <br>
    <% end %>
  </div>
  <br>
<% end %>

