<%= form_with model: @image, class: "flex flex-col gap-4" do |form|  %>
  <% @image.errors.full_messages_for(:name).each do |message| %>
    <span> <%= message %></span>
  <% end %>

  <% @image.errors.full_messages_for(:description).each do |message| %>
    <span> <%= message %></span>
  <% end %>

  <% @image.errors.full_messages_for(:cover).each do |message| %>
    <span> <%= message %></span>
  <% end %>
  <div>
    <%= form.label :title %> 
    <%= form.text_field :title , class: "w-full rounded-md", placeholder: "Big mountain"%>
  </div>

  <div>
    <%= form.label :description %> 
    <%= form.text_area :description, class: "w-full rounded-md h-36", placeholder: "Photo taken on" %>
  </div>

 <div>
  <%= form.label :category_id %> 
    <%= form.collection_select :category_id, Category.order(:name),:id, :name, { selected: @category.id}, class: "w-full rounded-md" %>
  </div>

  <div >
    <%= form.label :photo %> 
    <%= form.file_field :photo, accept: "image/png, image/jpeg" %>
  </div>

  <%= form.submit "CREATE PHOTO",class: "flex items-center justify-center bg-gray-500 w-full p-1 rounded text-white hover:cursor-pointer" %>
<% end %>