<h1>Image</h1>
<% @image%>

  <div>
    <span><%= @image.title %> </span>
    <br>
    <span><%= @image.description%></span>
    <br>
    <div><%= image_tag @image.photo if @image.photo.attached?%></div>
    
    <p>Here the comments section will be built</p>
    <br>
    <br>
   </div>
   <!--, image: @image -->
    <%= render "comment", image: @image%>
   <br>
   Comments
    <% @image.comments.each do |image| %> 
    <div>
    <hr>
    <%= image.body %>
    </div>
  <% end %>