  <section class="container-lg py-3 container">
    <div class=" flex flex-col justify-center gap-8">
      <h2 class="head-sm "><%= @image.title %></h2>
      <p class="text-md"><%= @image.description%></p>
      <p class="text-sm text-gray-300"> Updated at <%= @image.updated_at.strftime('%b %d, %Y')%></p>
    </div>
    <div class="image"><%= image_tag @image.photo if @image.photo.attached?%></div>
    <div class="form">
      <%= render "comment", image: @image%>
    </div>

    <div class="Comment">
      <h2 class="text-xl">Comments</h2> 
     <div class = "briefcase-summary__content">
      <% @image.comments.each do |comment| %>
      <div class = "Comment_body briefcase-card">

        <p class = "text regular"><%= comment.body%>
    </p>
      <div>
        <p class="text-gray-300 text-sm"> Send <%= Date.today.day - comment.updated_at.day%> days ago</p>
     </div>
    </div>
    </div>
   <% end %>
  </div>
 </section>  
</main>